.ivu-message-notice-content-error{
	transform: scale(3);
	margin-top: 20%;
}
.ivu-message-notice-content-success{
	transform: scale(3);
	margin-top: 20%;
}
.ivu-modal{
	transform: scale(3);
	margin-top: 20%;
}